<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Home page
    body
        nav
            ul.menu
                li
                    a(href="/Home") Home
                li
                    a(href="/services") services
                li
                    a(href="/contact") Contact
            
        div.content
            h1 Home page
            h2 Welcome, this is the Contact page
